body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ddd;
  overflow-y: scroll;

}

div#root {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  font-family: arial;

}

div.main_table {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.one_ticket {

  position: relative;
  width: 28%;
  display: flex;
  margin-bottom: 2%;

  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;

  background-color: #f3dcad;
  border-radius: 20px;
  padding: 10px;
}



.one_ticket div {
  border: 2px solid #bd245f;
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 4%;
  /* font-weight: 700; */
  font-size: 1.12em;

}

.one_ticket div:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.full_number {
  font-weight: bold;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

@media screen and (max-width: 995px) {
  .one_ticket {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .one_ticket {
    width: 90%;
  }
}