body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root {
  width: 90%;
  margin: 0 auto;
}

div.main_table {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.one_ticket {
  position: relative;
  border: 1px dotted red;
  display: flex;
  margin-bottom: 10px;
  width: 40vw;
  height: 80vw;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0 auto;

}

.one_ticket div {
  border: 2px solid blue;
  width: 12%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  margin: 0 1% 0 1%;

}

.full_number {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}